<ion-view title="About Us" hide-back-button=true >
  
  <ion-tabs class="tabs-striped tabs-top">
    
    <ion-tab title="The App">
      <ion-content class="has-header">
    <div class="card">
            <div class="item item-divider">
              <b>NITK Connect</b>
            </div>
          <div class="item item-text-wrap" style="text-align: justify;">
            <p>NITK Connect is a platform where all students of NITK can get access to information related to NITK college life. Every student club or community is represented on the app and can share news related to current activities. It aims to bridge the gap between all NITKians, and allows us to share ideas in our college. NITK Connect is an app for the students, which is why we have convinced the best restaurants nearby to give special discount offers for NITK students. NITK Connect will continue to improve with more features and become more engaging with every update.</p>
            </div>
        </div>
  </ion-content> 
  </ion-tab>
    <ion-tab title="The Team">
      <ion-content>
      <div class="card">
            <div class="item item-divider">
              <b>NITK Connect</b>
            </div>
          <div class="item item-text-wrap" style="text-align: centre;">
            <b>Founder</b>
        <br/><br/>
        Aayush Agrawal
        <br/><br/>
        <b>Technical Team</b>
        <br/><br/>
        Abhishek Arora<br/>
        Karthik Senthil<br/>
        Rohit Chandramohan<br/>
        Rohit Varkey<br/>
        Sriram Rao<br/>
        Sushant Dinesh
         <br/><br/>
        <b>Marketing and Publicity</b>
         <br/><br/>
        Ansu George<br/>
        Meghna Potta<br/>
        Pratham Pramod<br/>
        Sai Reddy<br/>
        Shailee Jain
         <br/><br/>
        <b>Creative Design</b>
         <br/><br/>
        Shon Shaji<br/>
        Vinay Rajan<br/>
            </div>
        </div>
      
    </ion-tab>
  </ion-content>
  </ion-tabs>
</ion-view>
