<ion-view title="{{title}}">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
            <div class="item item-divider">
              Coupon {{coupon_details.id}}
            </div>
          <div class="item item-text-wrap" style="text-align: justify;">
            <b> {{coupon_details.offer}} </b><br/>
            Valid till {{coupon_details.validity}} <br/><br/>
            To redeem coupon present this coupon on NITK-Connect app along with student ID.
          </div>
        </div>
  </ion-content>
</ion-view>
