<ion-view title="Coupons" hide-back-button=true >
  <ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
  <ion-item style="text-align:center;">
  <br/>
    <b>Sip n Sup Cafe & Restaurant, Surathkal</b><br/><br/>
  </ion-item>
  <ion-item>
    <b>Cost for 2</b>: ₹300 <br/>
    <b>Cuisine</b>: Cafe and sandwiches<br/>
    <b>How to get there</b>: Near Surathkal bus stand<br/>
    <b>Best dish</b>: Cheesecake and Chicken burger
  </ion-item>
        <ion-list>
        <ion-item   ng-repeat="coupon in  coupon_list"  href="#/app/coupons/{{restaurant_id}}/{{coupon.id}}">
                <b> Offer: {{coupon.offer}} </b><br/>
                Valid till {{coupon.validity}}
          </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
