<ion-view title="Coupons" hide-back-button=true >
  <ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
        <ion-list>
        <ion-item   ng-repeat="restaurant in restaurants "  href="#/app/coupons/{{restaurant.id}}">
                <b>{{restaurant.name}}</b><br/>
                {{restaurant.coupons.length}} offers
          </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
