<ion-view title="{{title}}" hide-back-button=true style="background-colour:blue">
  <ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-striped tabs-top" style="colour:blue">
    
  
    <ion-tab title="News">
      <ion-content class="has-header" style="background-colour:blue">
      <ion-refresher
            pulling-text="Pull to refresh..."
            refreshing-icon="ion-loading-d"
            refreshing-text="Refreshing"
            on-refresh="doRefresh()"
            >
        </ion-refresher>
        <ion-list>
          <ion-item  ng-repeat="article in articles" ng-if="article.event==false && article.category!='Coupons' && article.category!='Live News'"  href="#/app/article/{{article.id}}" >
              <div >
              <b>{{article.title}}</b>
              </div>
              <div class="item-text-wrap" style="text-align: justify;">
                Posted by: {{article.author}}
              </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="Events">
      <ion-content class="has-header">
        <ion-refresher
            pulling-text="Pull to refresh..."
            refreshing-icon="ion-loading-d"
            refreshing-text="Refreshing"
            on-refresh="doRefresh()"
            >
        </ion-refresher>
        <ion-list>
        <input type="submit" value="Upcoming" ng-click="toggleUpcoming()"/>
        <div ng-show="upcoming">
        <ion-item class="card" ng-repeat="event in articles | orderBy: 'event_start' " ng-if="event.event==true && cut.isBefore(event.event_start)" href="#/app/article/{{event.id}}">
              <div>
                <b>{{event.title}}</b>
              </div>
                <div>Where: {{event.venue}}</div>
               <div> When: {{millisToUTCDate(event.event_start) | date: 'd MMMM yyyy hh:mm a' : 'UTC'}}</div>
        </ion-item>
        </ion-list>
        </div>
        <input type="submit" value="Completed" ng-click="toggleCompleted()"/>
        <div ng-show="completed">
        <ion-list>
          <ion-item class="card" ng-repeat="event in articles | orderBy: 'event_start' " ng-if="event.event==true && !cut.isBefore(event.event_start)" href="#/app/article/{{event.id}}">
              <div>
                <b>{{event.title}}</b>
              </div>
                <div>Where: {{event.venue}}</div>
               <div> When: {{millisToUTCDate(event.event_start) | date: 'd MMMM yyyy hh:mm a' : 'UTC'}}</div>
        </ion-item>
        </ion-list>
        </div>
      </ion-content>
    </ion-tab>

  </ion-tabs>
</ion-view>
