<ion-side-menus>

  <ion-pane ion-side-menu-content >
    <ion-nav-bar class="bar-stable nav-title-slide">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" >
    <header class="bar bar-header bar-stable" >
      <button ng-click="showTopLevelCategories()" ng-class="{ hide: hideSidemenuBackButton }" class="button back-button button-icon icon ion-arrow-left-c button back-button button-icon icon ion-arrow-left-c"  type="backType" label="backLabel" icon="backIcon" ><!-- ngIf: icon && label --> </button>
      <h1 class="title">{{title}}<h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
	  <div>
      <ion-item menu-close class="item item-divider" href="#/app/articles">
		    Home
	    </ion-item>
      <ion-item menu-close class="item item-divider" href="#/app/live">
        Live News
      </ion-item>
		<div menu-close ng-repeat="category in categories">
          <a ng-if="category.taxons.length > 0 && category.is_first_level" ng-click="showSubcategories(category)" class="item">{{category.title}}</a>
          <a ng-if="category.taxons.length == 0 || !category.is_first_level"  href="#/app/category/{{category.title}}" class="item">{{category.title}}</a>
		</div>
		</div>
		<div>
		<ion-item menu-close class="item item-divider" style="vertical-align: bottom" offset = "5" href="#/app/coupons">
        Restaurant Deals
		</ion-item>
		</div>
      <div>
    <ion-item menu-close class="item item-divider" style="vertical-align: bottom" offset = "5" href="#/app/about">
        About Us
    </ion-item>
    </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
