<head>
<link href="../css/lightbox.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<script src='../lib/ionic/js/jquery.min.js'></script>
  <script src='../lib/ionic/js/lightbox.min.js'></script>
</head>

<ion-view title="{{title}}" style="color: blue"><!--
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-chatbox" href="#/app/article/{{title}}/comments"></button>
  </ion-nav-buttons> -->
  <ion-content class="has-header">

    <div class="card">
            <div class="item item-divider">
              {{title}}
            </div>
          <div class="item item-text-wrap" style="text-align: left;">
            {{content}}
          </div>
        </div>
       <div align="center" ng-if="url!='http://106.186.23.15/images/medium/missing.png'"><a href="../img/sipnsup.jpg" data-lightbox="test" data-title="testing"><img class="test-image" alt="image-q" src="../img/sipnsup.jpg"/></a></div>
      <div align="center" ng-if="url!='http://106.186.23.15/images/medium/missing.png'"><a href="../img/lfc.png" data-lightbox="test" data-title="testing"><img class="test-image" src="../img/lfc.png"/></a></div>  
  </ion-content>
</ion-view>
