/* Empty. Add your own CSS if you like */
/*#side-menu {
   background-color: #2B2B2B;
   color: white;
}*/

a {
   text-decoration: none;
}
.test-image{
	width:7rem;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px
}
